<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{/fragments/layouts/base_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/">
>
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
</head>
<body>
<section layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/items}">Items</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Item</li>
        </ol>
    </nav>

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="bg-white rounded-lg shadow-sm p-5">
                    <h1 class="my-6">Product details</h1>
                    <br>
                    <form role="form" th:action="@{/items/update/{id}(id = ${item.id})}" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Item Name</label>
                            <input type="text" class="form-control" id="name" th:value="${item.name}" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" class="form-control" id="quantity" th:value="${item.quantity}"  name="quantity" required>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Item Category</label>
                            <select class="form-select" id="category" name="category" aria-label="Select Item Category">
                                <option th:if="${item?.category?.name == null}" selected>Select Item Category</option>
                                <option th:each="category : ${categories}" th:object="${category}" th:value="${category.id}"
                                        th:text="${category.name}" th:selected="${category==item?.category}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>