<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title layout:title-pattern="$CONTENT_TITLE">Item Management</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <style>
        .wrapper {
          background-color: "#222e3c";
        }

        .action-item {
            margin-right: 10px;
        }
    </style>
    <link rel="stylesheet"  th:href="@{/css/styles.css}" />
</head>
<body class="fixed-nav sticky-footer bg-light bg-gradient mt-6 mx-4" id="page-top">
<nav class="navbar sticky-top navbar-primary navbar-expand-lg bg-light mb-4 bg-gradient">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Item Management System</span>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <section layout:fragment="content"></section>
    </div>
</div>

<footer th:replace="~{/fragments/footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function() {
    $('#dataTable').DataTable( {
    select: true,
        buttons: [
          {
            extend: "excel",
            text: "Export All Items to Excel",
            exportOptions: {
              modifier: {
                page: "current",
              },
            },
          },
        ],
    } );
} );
</script>
</body>
</html>
